
  <div class="container">
<a href="/" class="back" style="text-decoration: none; color: black;">
            <i class="fas fa-backward" style="margin-right: 5px;"></i>Quay lại
    </a>
     <div class="row justify-content-center">
    <div class="col-md-4 mt-4">
      <div class="border rounded-lg shadow p-4 "> 
        <h1 style="font-weight: bold; ">Profile</h1>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label" style="font-weight: bold;">Email: {{nameEmail}} </label>
                    
                </div>
                <div class="mb-3">
                    <label for="postCount" class="form-label" style="font-weight: bold;">Số bài viết đã đăng: {{totalPosts}}</label>
                </div>

                <div class="mb-3">
                    <a href="/register/account/changepassword" style="text-decoration: none; color:black;">
                    <label for="help" class="form-label"style="font-weight: bold;">Đổi mật khẩu</label>
                    </a>
                </div>
                <div class="mb-3">
                    <a href="" style="text-decoration: none; color:black;">
                    <i class="fas fa-question"></i>
                    <label for="help" class="form-label"style="font-weight: bold;">Hỗ trợ</label>
                    </a>
                </div>
                
            </form>
           
    <div class="mt-3">
      <a href="/logout" class="btn btn-danger">Đăng xuất</a>
    </div>
    
      </div>
    </div>
  </div>
  
  </div>

  