
<a href="/" style="text-decoration: none; color: black;">
            <i class="fas fa-backward" style="margin-right: 5px;"></i>Quay lại
    </a>
<div class="mt-4">
  <form method="POST" action="/blogs/store">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label" style="font-weight: bold; font-size:large">Tiêu đề</label>
      <input
        type="text"
        name="title"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Nhập tên bài viết..."
      />
    </div>
    <div class="mb-3">
     <label for="exampleFormControlInput1" class="form-label" style="font-weight: bold; font-size:large">Nội dung bài viết</label>
      <textarea
        name="text"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="12"
        placeholder="Nhập nội dung bài viết..."
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Đăng bài viết</button>
  </form>
</div>