<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Spot Viewer</title>
    <style>
        .parking-grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr); /* Chia thành 7 cột */
            gap: 10px; /* Khoảng cách giữa các ô */
        }

        .parking-spot {
            width: 50px; /* Độ rộng của ô đỗ xe */
            height: 100px; /* Chiều cao của mỗi hàng */
            border: 1px solid black; /* Viền đen */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .occupied {
            background-color: green; /* Màu nền khi có xe đỗ */
        }

        .vacant {
            background-color: rgb(255, 255, 255); /* Màu nền khi trống */
        }

        body {
            margin-top: 100px; /* Khoảng cách từ đầu trang */
            display: flex;
            justify-content: center;
        }

        .note {
            font-size: 14px;
            margin-top: 100px;
            text-align: right;
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: large;
            font-weight: bold;
            vertical-align: middle;
        }

       .box {
            width: 30px;
            height: 30px; 
            background-color: green;
            display: inline-block; 
            margin-right: 10px;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="parking-grid">
        {{#each spots}}
        <div class="{{this.occupiedClass}} parking-spot"></div>
        {{/each}}
    </div>
    

    <div class="box"></div>
    <div class="note"><span class="box"></span>Đã có xe</div>
    
</body>
</html>
