<a href="/" class="back" style="text-decoration: none; color: black;">
            <i class="fas fa-backward" style="margin-right: 5px;"></i>Quay lại
    </a>
<div class="container mt-4">
    <div class="read_container">
      <h1>Key</h1>
      <h4>{{key}}</h4>
      <h1>Mã Hash</h1>
        <h4>{{hmac}}</h4>
    </div>

     
    
  
</div>