
<a href="/" class="back" style="text-decoration: none; color: black;">
            <i class="fas fa-backward" style="margin-right: 5px;"></i>Quay lại
    </a>
<div class="mt-4">
    
    <div class="container mt-4">
    <h1>{{resultSearch.title}}</h1>
    <div class="card">
      <div class="card-body">
        <p>{{resultSearch.text}}</p>
      </div>
    </div>
  </div>
</div>