html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Roboto", Arial, sans-serif;
}

.read_container {
  margin-top: 15px 0 0 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; 
  background-color: #f5f5f5;
}

.card-body {
  margin: 1px 0 0 0;
  flex-grow: 1;
}

.card {
  margin-top: 20px;
  height: 400px; 
  overflow: hidden; 
  border-color: rgb(210, 204, 204);
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
  text-align: justify;
  text-justify: inter-word;
}

.card-footer {
display: flex;
justify-content: center;

}

.my-card {
box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
transition: box-shadow 0.3s ease-in-out;
}

.my-card:hover {
box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}




.navbar {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 9999;
}



.app {
margin-top: 100px;
}



.border-2 {
border-color: #000000; 
}

.title_blogs {
display: flex;
justify-content: space-between;
}




