<body>
  <div class="container">
    <!-- Nội dung của trang -->
  </div>

  <footer style="position: ;" class="bg-dark text-light py-4 footer">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p>&copy; 2023 Sản phẩm tạo bởi Nhóm 3</p>
        </div>
      </div>
    </div>
  </footer>
  
</body>