<style>
  .custom-nav-link {
    padding-right: 10px;
    font-size: 20px;
  }

  .custom-nav-link:last-child {
    border-right: none;
    padding-right: 0;
  }

  .custom-nav-link:hover {
    opacity: 0.7;
  }
  .nav-link-text {
    padding-left: 10px;
    color: #ffffff;
    font-weight: bold;

  }

  .navbar-brand {
    font-size: 38px;
    color: #ffffff;
  }

  .navbar {
    padding: 15px 10px;
    background-color: #ffc107;
  }

  /* Dropdown menu styles */
  .dropdown-menu {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
    display: none;
    position: absolute;
    z-index: 1;
  }

  .dropdown-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #000;
  }

  .nav-item:hover .dropdown-menu {
    display: block;
  }

  .nav-item .nav-link {
    display: flex;
    align-items: center;
  }

  .nav-item .nav-link i {
    margin-right: 5px;
  }

  .nav-item {
    list-style: none;
  }

  .help {
    margin: 0 10px;
    display: flex;
    font-size: 20px;

  }

  .logo {
    width: 100px;
  }


</style>

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    {{!-- <i class="fa fa-car" style="color: #29ff3b; font-size: 50px;"></i> --}}

    <a href="/">

       <img class="logo" src="/imgs/logook-removebg-preview.png" alt="">

    </a>
    
    <li class="nav-item">
          <a class="nav-link custom-nav-link" href="#"></a>
        </li>
    {{!-- <a class="navbar-brand fw-bold" href="/">Car AI</a> --}}
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link active custom-nav-link"
            aria-current="page"
            href="#"
            onmouseover="showDropdown()"
            onmouseout="hideDropdown()"
          >
            <i class="fas fa-book" style="color: #fafcff; font-size: 20px;"></i>
            <span class="nav-link-text">Quản lý xe</span>
          </a>
          <div id="dropdown-menu" class="dropdown-menu" onmouseover="showDropdown()" onmouseout="hideDropdown()">
            <a class="dropdown-item" style="font-weight: bold;" href="/blogs/uicapture">Quét xe vào/ra</a>
            <a class="dropdown-item" style="font-weight: bold;" href="/stored/blogs">Quản lý doanh thu</a>
            <a class="dropdown-item" style="font-weight: bold;" href="/stored/park">Xem vị trí</a>
          </div>
        </li>
       <li class="nav-item">
        <a
          class="nav-link active custom-nav-link"
          aria-current="page"
          href="#"
          onmouseover="showLoginLogout()"
          onmouseout="hideLoginLogout()"
        >
          <i class="fas fa-user" style="color: #fafcff; font-size: 20px;"></i>
          <span class="nav-link-text" id="user-email">Cá nhân</span>
        </a>
        <div
          id="user-dropdown-menu"
          class="dropdown-menu"
          onmouseover="showLoginLogout()"
          onmouseout="hideLoginLogout()"
        >

          <a class="dropdown-item"style="font-weight: bold;" href="/account">Tài khoản</a>
          <a id="login-link" class="dropdown-item" style="font-weight: bold;" href="/login">Đăng nhập</a>
          <a id="logout-link" class="dropdown-item" style="font-weight: bold; display: none;" href="/logout">Đăng xuất</a>
        </div>
      </li>


      

      </ul>

      

      <li class="nav-item">
        <a class="help" href="#" onclick="toggleTicketDropdown()">
</a>



  <a href="/" style="text-decoration: none;">
  <i style="color: #fff; font-size:large;" class="fa fa-id-card"></i>

<span style="color: #ffffff; font-size:large; margin-right: 10px;" class="nav-link-text" id="user-ticket">Vé tháng</span>
  </a>
<div id="ticket-dropdown-menu" class="dropdown-menu">
  <a class="dropdown-item" style="font-weight: bold;" href="/ticket">Đăng ký vé</a>
  <a class="dropdown-item" style="font-weight: bold;" href="/ticketmanager">Quản lý vé</a>
</div>

      </li>
        <a class="help" href="/help"><i class="fa fa-headset" style="color: #ff3e3e;"></i></a>
       <span style="color: #ffffff; font-size:large; " class="">Hỗ trợ</span>
    </div>
  </div>
</nav>

<script>

  function toggleTicketDropdown() {
  var dropdownMenu = document.getElementById("ticket-dropdown-menu");
  dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
}

// Ẩn dropdown-menu khi di chuột ra ngoài
document.addEventListener('click', function(e) {
  if (!e.target.closest('.help') && !e.target.closest('#ticket-dropdown-menu')) {
    var dropdownMenu = document.getElementById("ticket-dropdown-menu");
    dropdownMenu.style.display = 'none';
  }
});


  function showDropdown() {
    var dropdownMenu = document.getElementById("dropdown-menu");
    dropdownMenu.style.display = "block";
  }

  function hideDropdown() {
    var dropdownMenu = document.getElementById("dropdown-menu");
    dropdownMenu.style.display = "none";
  }

  function showLoginLogout() {
    var dropdownMenu = document.getElementById("user-dropdown-menu");
    dropdownMenu.style.display = "block";
  }

  function hideLoginLogout() {
    var dropdownMenu = document.getElementById("user-dropdown-menu");
    dropdownMenu.style.display = "none";
  }


  ///

   function showLoginLogout() {
            document.getElementById('user-dropdown-menu').style.display = 'block';
        }

        function hideLoginLogout() {
            document.getElementById('user-dropdown-menu').style.display = 'none';
        }

        function checkLoginStatus() {
            const userId = getCookie('userId'); // Giả sử userId được lưu trong cookie

            if (userId) {
                document.getElementById('login-link').style.display = 'none';
                document.getElementById('logout-link').style.display = 'block';
            }
        }

        function getCookie(name) {
            const value = `; ${document.cookie}`;
            const parts = value.split(`; ${name}=`);

            if (parts.length === 2) return parts.pop().split(';').shift();
        }

        document.addEventListener('DOMContentLoaded', function() {
            checkLoginStatus();
        });



  ///


   window.addEventListener('DOMContentLoaded', () => {
    const userEmail = document.getElementById('user-email');
    const email = "{{ email }}"; // Sử dụng email truyền từ mã xử lý yêu cầu

    if (userEmail && email) {
      userEmail.textContent = email;
    }
  });
</script>