<style>
.back {
  text-decoration: none;
  color: black;
  margin-top: 20px; /* Khoảng cách trên */
  display: flex;
  align-items: center;
}

.back i {
  margin-right: 5px;
}

.container {
  margin-top: 40px;
}

.border {
  margin-top: 20px;
}

.btn-custom {
  background-color: #28a745; /* Màu xanh lá */
  border-color: #28a745; /* Màu viền của nút */
  color: white;
}

.btn-custom:hover {
  background-color: #218838; /* Màu xanh lá đậm hơn khi hover */
  border-color: #1e7e34; /* Màu viền đậm hơn khi hover */
}

h1 {
  font-weight: bold; /* Đậm chữ tiêu đề */
  margin-bottom: 1rem;
}

.label-bold {
  font-weight: bold; /* Đậm chữ label */
  display: block; /* Đảm bảo label nằm trên cùng input */
  margin-bottom: .5rem; /* Khoảng cách giữa label và input */
}

.form-control {
  border-radius: 0.25rem; /* Bo góc nhẹ cho input */
}

.form-group {
  margin-bottom: 1rem; /* Khoảng cách giữa các nhóm ô input */
}

input {
  margin-bottom: 1rem; /* Khoảng cách dưới input */
}

</style>

<a href="/register/sendemail" class="back">
    <i class="fas fa-backward"></i>Quay lại
</a>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="border rounded-lg shadow p-4"> 
        <h1 class="text-center">Thay đổi mật khẩu</h1>
        <form method="POST" action="/register/changepass">
          <div class="form-group">
            <label for="inputNewPass" class="label-bold">Mật khẩu mới</label>
            <input type="password" name="newpass" id="inputNewPass" class="form-control" placeholder="Nhập mật khẩu...">
          </div>
          <div class="form-group">
            <label for="inputVerifypass" class="label-bold">Xác nhận mật khẩu</label>
            <input type="password" name="verifypass" id="inputVerifypass" class="form-control" placeholder="Nhập mật khẩu xác nhận...">
          </div>
          <button type="submit" class="btn btn-custom">Xác nhận</button>
        </form>
      </div>
    </div>
  </div>
</div>
