
<a href="/login" class="back" style="text-decoration: none; color: black;">
            <i class="fas fa-backward" style="margin-right: 5px;"></i>Quay lại
    </a>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="border rounded-lg shadow p-4"> 
        <h1 class="text-center fw-bold">Quên mật khẩu</h1>
        <form method="POST" action="/register/sendemail/forgot">
          <div class="form-group ">
            <label for="inputEmail" style="font-weight: bold;">Email đã đăng ký trước đó</label>
            <input type="email" name="email" class="form-control mb-3"  placeholder="Nhập email..." >
          </div>
          <button type="submit"  class="btn btn-primary" >Nhận mã </button>

           </form>
          <form method="POST" action="/register/sendemail/confirm">
          <div class="form-group">
            <label for="inputPassword" style="font-weight: bold;">Mã xác nhận</label>
            <input type="text" name="code" class="form-control mb-3" placeholder="Nhập mã xác nhận...">
          </div>
          <button type="submit"  class="btn btn-primary" >Xác minh </button>
          {{!-- <a href="/register/nextpass" class="btn btn-primary">Tiếp theo</a> --}}
          </form>
         
       
    

        
      </div>
    </div>
  </div>
</div>