<style>
.border {
  margin-top: 100px;
}

.container {
  margin-top: 20px;
}

.btn-custom {
  background-color: #28a745; /* Màu xanh lá */
  border-color: #28a745; /* Màu viền của nút */
  color: white;
}

.btn-custom:hover {
  background-color: #218838; /* Màu xanh lá đậm hơn khi hover */
  border-color: #1e7e34; /* Màu viền đậm hơn khi hover */
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  border-radius: 0.25rem; /* Bo góc nhẹ cho input */
}

h1 {
  font-weight: bold; /* Đậm chữ tiêu đề */
  margin-bottom: 1rem;
}

label {
  font-weight: bold; /* Đậm chữ label */
  display: block; /* Đảm bảo label nằm trên cùng input */
  margin-bottom: .5rem; /* Khoảng cách giữa label và input */
}

input {
  margin-bottom: 1rem; /* Khoảng cách dưới input */
}

</style>

<a href="/login" class="back" style="text-decoration: none; color: black; margin-top: 100px;">
    <i class="fas fa-backward" style="margin-right: 5px;"></i>Quay lại
</a>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="border rounded-lg shadow p-4"> 
        <h1 class="text-center">Quên mật khẩu</h1>
        <form method="POST" action="/register/sendemail/forgot">
          <div class="form-group">
            <label for="inputEmail">Email đã đăng ký trước đó</label>
            <input type="email" name="email" class="form-control" placeholder="Nhập email...">
          </div>
          <button type="submit" class="btn btn-custom">Nhận mã</button>
        </form>

        <form method="POST" action="/register/sendemail/confirm">
          <div class="form-group">
            <label for="inputPassword">Mã xác nhận</label>
            <input type="text" name="code" class="form-control" placeholder="Nhập mã xác nhận...">
          </div>
          <button type="submit" class="btn btn-custom">Xác minh</button>
        </form>
      </div>
    </div>
  </div>
</div>
