<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="border rounded-lg shadow p-4">
        <h1 class="text-center fw-bold">Đăng nhập</h1>
        <form id="loginForm" method="POST" action="/login/signin">
          <div class="form-group">
            <label for="inputEmail" style="font-weight: bold;">Email</label>
            <input type="email" name="email" class="form-control mb-3" id="inputEmail" placeholder="Nhập email..." required>
          </div>
          <div class="form-group">
            <label for="inputPassword" style="font-weight: bold;">Mật khẩu</label>
            <input type="password" name="password" class="form-control mb-3" id="inputPassword" placeholder="Nhập mật khẩu..." required>
          </div>
          
          <div class="g-recaptcha" data-sitekey="6Lf6UOsnAAAAAH2AIShZdJNdYcgBkjxBQpH74Vb7"></div>                                                       

          <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </form>
        <div class="text-center mt-3">
          <a href="/register/sendemail" style="text-decoration: none;">Quên mật khẩu</a>
        </div>
        <div class="text-center mt-3">
          <p style="text-decoration: none;">Bạn chưa có tài khoản? <a href="/register" style="text-decoration: none;">Đăng ký</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> --}}

{{!-- <script>

    const urlParams = new URLSearchParams(window.location.search);
  const message = urlParams.get('message');
  const textMessage = (" Bạn đã đăng ký tài khoản thành công! ")

  
  if (message) {
    alert(textMessage);
  }
</script> --}}

{{!-- <script>



  const passwordGuesses = [ 'Long1234@','123456', 'Florentino123', 'long@123456', 'nguyenlong@123','Long@12','password'];
  const targetUrl = '/login/signin'; 

  async function performBruteForce() {
    for (const passwordGuess of passwordGuesses) {
      const emailInput = document.querySelector('input[name="email"]');
      const passwordInput = document.querySelector('input[name="password"]');
      const loginForm = document.getElementById('loginForm');
      emailInput.value = 'nguyenlonglqmb@gmail.com'; 
      passwordInput.value = passwordGuess;
      loginForm.submit();

      
      await new Promise(resolve => setTimeout(resolve, 3000));

      
      if (window.location.pathname === '/') {
        console.log(`Login successful with password: ${passwordGuess}`);
        break; 
      }

      
      if (window.location.pathname === '/login/signin') {
        console.log(`Login failed with password: ${passwordGuess}`);
      }
    }
  }

  
  window.addEventListener('load', performBruteForce);
</script> --}}